<h2>Edit Contact</h2>

<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      {{input type="text" value=model.email class="form-control" }}
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Mensagem</label>
    <div class="col-sm-10">
      {{input type="text" value=model.text class="form-control" }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'savecontact' model}}>Save changes</button>
    </div>
  </div>
</div>
