<h1>Contacts</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>E-mail</th>
      <th>Message</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |contacts|}}
    <tr>
      <th>{{contacts.id}}</th>
      <td>{{contacts.email}}</td>
      <td>{{contacts.text}}</td>
      <div class="panel-footer text-center">
        {{#link-to 'admin.contacts.edit' contacts.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
        <button class="btn btn-danger btn-xs" {{action 'deleteContact' contacts}}>Delete</button>
      </div>
    </tr>

  {{/each}}
  </tbody>
</table>
