<h1>Invitations</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>E-mail</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |invitations|}}
    <tr>
      <th>{{invitations.id}}</th>
      <td>{{invitations.email}}</td>
      <div class="panel-footer text-center">
        {{#link-to 'admin.invitations.edit' invitations.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
        <button class="btn btn-danger btn-xs" {{action 'deleteinvitation' invitations}}>Delete</button>
      </div>
    </tr>

  {{/each}}
  </tbody>
</table>
