<h1>Contact</h1>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    {{input type="email" value=emailAddress class="form-control" placeholder="Insira seu Email." autofocus="autofocus"}}
  </div>
  <div>
    {{textarea class="form-control" placeholder="Escreva sua mensagem. Máximo 5 caracteres." rows="7" value=textAddress}}
  </div>

  <button disabled={{isDisabled}} {{action 'saveMessage'}} class="btn btn-success"> Enviar Mensagem</button>

  {{#if responseMessage}}
    <div class="alert alert-success">{{responseMessage}}</div>
  {{/if}}

</form>
